@import 'variables.scss';
@import 'mixins.scss';

.header {
  &--copyright {
    color: $color-grey--dark;
    text-align: right;
    font-weight: 1.1rem;
    margin-bottom: 3rem;
  }

  &--main {
    font-size: 3.6rem;
    color: $color-grey--dark;
    background-color: rgba($color-main, .5);
    padding: .5rem 1rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3rem;
    letter-spacing: .03em;
  }

  &--secondary {
    font-size: 2.4rem;
    color: $color-grey--dark;
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 1.45em;
    margin-left: auto;
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;
  }

  &--description {
    font-size: 1.6rem;
    color: $color-grey--dark;
    align-self: stretch;
    font-weight: 400;
    letter-spacing: .015em;
    max-width: 70%;
    margin-right: auto;
  }

}