@import 'variables';
@import 'mixins';

.main {
  margin-top: 5rem;

  &--map,
  &--components,
  &--regression {
    display: grid;
    grid-template-columns: 3% 97%;

    .left {
      background-color: rgba($color-main, .5);
      display: flex;
      align-items: center;
      justify-content: center;

      &--title {
        transform: rotate(-90deg);
        font-weight: 200;
        font-size: 2.8rem;
        text-transform: uppercase;
        color: $color-grey--dark;
        text-align: center;
        position: absolute;
        white-space: nowrap;
      }
    }

  }

  &--map {
    height: 85rem;
  }

  &--components {
    height: 85rem;
    margin-top: 5rem;

    .right {
      position: relative;
    }

    &__dropdown {
      position: absolute;
      top: 85px;
      left: calc(50% + 7.5px);
      transform: translateX(-50%);
      border: 1px solid transparent;
      background-color: rgba($color-grey, .25);
      color: $color-grey--dark;
      padding: .5rem 1rem;
      text-align: center;
      transition: $transition;
      font-size: 1.4rem;

      &:hover,
      &:focus {
        border-color: $color-main;
      }
    }
  }

  &--regression {
    height: 75rem;
    margin-top: 5rem;
  }
}