@import 'variables';
@import 'mixins';

.emp {
  border-bottom: 2px solid $color-main;
  cursor: default;

  &:hover,
  &:focus {
    transition: $transition;
    border-bottom-width: 3px;
    border-bottom-color: $color-main;
  }
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: $color-grey--dark;
  border-bottom: 2px solid rgba($color-main, .35);

  &:hover,
  &:focus {
    color: $color-main;
    transition: $transition;
    border-bottom-color: $color-main;
    border-bottom-width: 3px;
  }
}

.tooltip {
  position: absolute;
  left: -9999px;
  pointer-events: none;
  padding: 1rem;
  background-color: #efefefef;
  text-align: center;
  z-index: 3;
  max-width: 17.5rem;

  &--heading {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: #985356;
  }

  &--body {
    font-size: 1.4rem;
    color: rgba($color-grey--dark, .75);

    & p:not(:first-of-type) {
      margin-top: .25rem;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #efefefef transparent;
  }

  &--circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: .25rem;
  }
}

.help {
  margin-left: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  top: 2rem;

  svg {
    fill: rgba($color-main, .75);
    min-width: 3rem;
    min-height: 3rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
  }

  &:hover,
  &:focus {
    svg {
      fill: $color-main;
      transform: scale(1.05);
    }
  }
}

.modal {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &,
  &--background {
    transition: $transition;
  }

  &--background {
    background: rgba($color-grey, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--content {
    transform: translateY(5%);
    max-width: 90%;
    background: $color-background;
    position: relative;
    z-index: 101;
    padding: 3rem;
    transition: transform .25s;

    @media screen and (max-height: 960px) {
      padding: 1.5rem;
    }
  }

  &--title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: .03em;
    margin-bottom: 2rem;
    color: $color-grey--dark;
    background-color: rgba($color-main, .5);
    padding: .5rem 1rem;

    @media screen and (max-height: 960px) {
      font-size: 2rem;
    }
  }

  &--para {
    text-align: justify;
    font-weight: 400;
    letter-spacing: .015em;
    font-size: 1.6rem;
    color: $color-grey--dark;

    @media screen and (max-height: 960px) {
      font-size: 1.4rem;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;

    .modal--content {
      transform: translateY(0);
    }
  }
}