// variables

/* $color-background: #e2e2e2; */
$color-background: #F7F6F2;
$color-grey: #C9C9C9;

$color-dark: #364a63;
$color-light: #cad3dd;

$color-secondary: #f8e1c1;

$rect-rounding: 7px;

$transition: all .25s;